.Footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
//   background: linear-gradient(180deg, #dedede 40%, transparent 80%);

  .IT {
    font-family: "Zona Pro";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    color: gray;
  }

  .links {
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
    width: 10%;
  }

  .khak {
    font-family: "Zona Pro";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    color: gray;
  }
}
